name: Request_push

on:
  push:
    branches-ignore:
      - main
    paths:
      - "Frends.Confluence.Request/**"
  workflow_dispatch:

jobs:
  build:
    uses: FrendsPlatform/FrendsTasks/.github/workflows/build_test.yml@main
    with:
      workdir: Frends.Confluence.Request
      env_var_name_1: CONFLUENCE_USERNAME
      env_var_name_2: CONFLUENCE_API_TOKEN
      env_var_name_3: CONFLUENCE_DOMAIN_NAME
    secrets:
      badge_service_api_key: ${{ secrets.BADGE_SERVICE_API_KEY }}
      test_feed_api_key: ${{ secrets.TASKS_TEST_FEED_API_KEY }}
      env_var_value_1: ${{ secrets.CONFLUENCE_USERNAME }}
      env_var_value_2: ${{ secrets.CONFLUENCE_API_TOKEN }}
      env_var_value_3: ${{ secrets.CONFLUENCE_DOMAIN_NAME }}
